node_modules/

build/
generated/
generated-l2/

.env
/temp-garbage

/Users/gauravlochab/Babydegen-Subgraph/agent-funding-subgraph/autonolas-tokenomics-subgraph/subgraphs/babydegen/babydegen-optimism_test